/* .add-icon {
  padding: 30px 30px;
  background-color: rgb(95, 203, 68);
  border-radius: 5px 60px 40px 30px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(236, 69, 103);
  position: fixed;
  bottom: 50px;
  right: 80px;
}
.modal-box {
  transition: all 3s ease-out;
  border: 1px solid rgb(97, 100, 96);
  width: 50%;
  box-shadow: 10px 10px 10px gray;
  display: flex;
  top: 10%;
  left: 25%;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  background-color: grey;
  border-radius: 10px;
  display: none;
  height: 390px;
}
.input-text {
  height: 200px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}
.close {
  position: absolute;
  right: 0px;
  background-color: red;
  text-align: center;
  padding: 10px 10px;
  margin: 10px 10px;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 15px 15px;
  display: flex;
}
.btn {
  font-family: arial;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #77d6ee;
  margin-right: 5px;
}
.btn:hover {
  color: #14396a !important;
  background: #468ccf;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}
.note-header {
  font-family: arial;
  position: absolute;
  margin: 25px 0px 0px 30px;
} */
.card.new {
    margin: 30px 1.5%;
    border: 1px solid gray;
    min-height: 250px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(45, 187, 45);
  }
  
  .card-body {
    margin: 10px 0;
  }
  .input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width:90%;
    margin: 5px 25px;
    text-align: start;
    letter-spacing: 1px;
    background-color: rgb(45, 187, 45);
    border: none;
    resize: none;
  }
  .input-text:focus{
    outline: none;
  }
  .card-footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .date {
    margin-left: 20px;
  }
  .btn {
    
    font-size: 14px;
    text-shadow: 1px 1px 0px #7cacde;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #3866a3;
    background: #77d6ee;
    margin-right: 20px;
  }
  .btn:hover {
    color: #14396a !important;
    background: #468ccf;
    background: linear-gradient(to top, #468ccf, #63b8ee);
  }