
.card.new {
    margin: 30px 1.5%;
    border: 1px solid gray;
    min-height: 250px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(45, 187, 45);
  }
  
  .card-body {
    margin: 10px 0;
  }
  .input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width:90%;
    margin: 5px 25px;
    text-align: start;
    letter-spacing: 1px;
    background-color: rgb(45, 187, 45);
    border: none;
    resize: none;
  }
  .input-text:focus{
    outline: none;
  }
  .card-footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .date {
    margin-left: 20px;
  }
  .btn {
    
    font-size: 14px;
    text-shadow: 1px 1px 0px #7cacde;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #3866a3;
    background: #77d6ee;
    margin-right: 20px;
  }
  .btn:hover {
    color: #14396a !important;
    background: #468ccf;
    background: linear-gradient(to top, #468ccf, #63b8ee);
  }